<%= form_with(model: request, local: true) do |form| %>

  <div class="field">
    <%= form.hidden_field :item_id, value: @item.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :owner_id, value: @owner.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :status, value: @item.status %>
  </div>

  <div class="field">
    <%= form.label :rent_begin_date %>
    <%= form.date_field :rent_begin_date, id: :rent_begin_date %>
  </div>

  <div class="field">
    <%= form.label :rent_due_date %>
    <%= form.date_field :rent_due_date, id: :rent_due_date %>
  </div>

  <div class="actions">
    <%= form.submit :Submit %>
  </div>
<% end %>
