<h1>대여 신청서</h1>

<p>소유자 이메일: <%= @owner.email %></p>

<p>신청자 이메일: <%= current_user.email %></p>

<%= image_tag @item.image.thumb %>

<p>아이템 상태: <%= @item.status %></p>

<%= render 'form', request: @request %>

<%= link_to 'Back', :back %>
